<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_Team3.Properties.Settings.AzureDB" connectionString="Data Source=sce2017.database.windows.net;User ID=alexesi;Password=150487alex!"
            providerName="System.Data.SqlClient" />
        <add name="Project_Team3.Properties.Settings.DataBase" connectionString="Data Source=sce2017b.database.windows.net;Persist Security Info=True;User ID=sceproject;Password=2017Sce2017"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>